.App {
  /* text-align: center; */
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Dropper
{
  background-color: #F0F0F0;
  border: 2px solid green;
  margin: 3px;
  padding: 2px;
}

.module-list-container, .single-module-container, .module-edit-form-container
{
  margin: 3px;
  padding: 2px;
  background-color: #F8F8F8;
}

.module-list-component {
  margin: 3px;
  padding: 2px;
  background-color: #E0E0E0;
}

.module-detail-image-evidence {float: left;}

.module-detail-text-evidence {width: 50%; float: left;}

/* .module-simple-component {
  border: 2px solid green;
  margin: 3px;
  padding: 2px;
} */

.module-detailed-component {
  margin: 3px;
  padding: 2px;
  background-color: #F8F8F8;
}

.module-edit-form-component {
  background-color: #D3D3D3;
  margin: 3px;
  padding: 2px;
}

/* a {
  border: 2px dashed black;
  margin: 2px;
  padding: 2px;
} */
